@font-face{
    font-family: myFont;
    src: url(./font/Norse-Bold.otf);           /* does not work right */
}

html,body{
    width:100vw;
    height: 100vh;
    margin:0;
    padding: 0;
}


body{
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
}


.forms-container{                /* it can do this way, but it could change to some more advanced css */
    width: 65%;
    height: 100%;
    background-color: whitesmoke;
}

.forms-container form{
    font-size: 100%;
    width: 700px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.forms-container form div{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.forms-container form div input{
    border-radius: 6px;
    height: 20px;
    border: 2px solid #E5E7EB;
}

.forms-container form label{
    font-size: 12px;
    letter-spacing: 1px;
}

.forms-container form,
.forms-container h2,
.forms-container p{
    margin-left: 40px;
}


.forms-container form div input:required + span::after{
    font-size: 0.5rem;
    position: absolute;
    content: "required";
    color: white;
    background-color: black;
    padding: 5px 10px;
    bottom: 25px;
    left: 250px;
}

.forms-container form div input:focus{
    border:2px solid #a2a8d3;
    box-shadow: 10px 10px #a2a8d3; 
}

input+span{
    position: relative;
}



/* LOGO CONTAINER AHEAD */

.logo-container{
    width: 35%;
    height: 100%;
}

.logo-container > div{ 
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-color: rgb(0, 0, 0, 0.3);
}

.logo-container div + h4{
    text-align: center;
    position: relative;
    top:550px;
    color: #ffff;
}

.logo-container > div > p{
    color: white;
    font-size: 60px;
    font-family: myFont;
}


img{
    height: 100px;
    margin-right: 40px;
}

button{
    background-color: #596D48;    
    font-size: 15px;
    width: 157px;
    height: 40px;
    color: #ffff;
    border-radius: 3px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    padding:10px;   
}

a{
    text-decoration: none;
    color: #596D48;
}